/* //////////////////// ↓共用設定 ////////////////////////////////////////////// */

body{
	font-family:Arial, Helvetica, sans-serif,'微軟正黑體';
	background-image:url(../images/bg_white.jpg);

}
a{color:#03bcf9;}
img{border:0;}
ul,li{list-style:circle;display:inline;}
ul{padding:10px;}

table{border:solid 1px #ccc;padding:10px;color:#4e4d4d;}
table,th,tr,td{border:solid 1px #b6b5b5;padding:10px;}
th{font-weight:bold;color:000;text-align:left;}
#clear{clear:both;}


/*//////////////////// ↑共用設定 /////////////////////////////////////////////////*/

#logo_bg{background-color:#3b73af;}
#logo{width:80%;margin:10px auto;font-size:26px;}
#logo a{color:#fff;font-weight:bold;}

#navibar_bg{background-color:#fff;padding:10px 0;border-bottom:dashed 2px #F00;}
#navibar{width:80%;margin:0 auto;}
li{padding:10px 40px 10px 0;color:#03bcf9;}
li a{color:#03bcf9;font-weight:bold;}

#content{width:80%;min-height:750px;margin:5px auto;padding:10px;}
#footer{background-color:#272727;color:#fff;}

/*//////////////////// ↑主要區塊 /////////////////////////////////////////////////*/

#copyright{width:80%;margin:10px auto;}